.sermon-card {
  .date-box {
    line-height: 45px;
    border: 2px solid accent-color('800');
    color: accent-color('800');
    text-align: center;
    width: 65px;
    height: 65px;

    .day {
      font-size: 22px;
    }

    .month {
      font-size: 16px;
      line-height: 8px;
    }
  }

  .date-box:hover {
    color: #fff;
    background-color: accent-color('800');
  }

  .title {
    font-size: 18px;
    font-weight: 600;
    color: primary-color('500');
  }

  .title:hover {
    color: primary-color('900');
    text-decoration: underline;

  }

  .speaker {
    display: block;
    font-size: 12px;
    margin-top: 0.5em;
    color: background-color('700');
  }

  .single-sermon {
    img {
      width: 150px;
      height: 150px;
    }

    .player {
      display: block;
    }

    .date {
      display: block;
    }

    .speaker {
      display: block;
    }
  }
}