.login {
    width: 360px;
    margin: 7.5% auto;
    background-color: #fff;
    border: 2px solid darken(#fff, 5%);

    padding: 40px;
    border-radius: $border-rounding-size;

    -webkit-box-shadow: 3px 4px 22px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 22px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 4px 22px -6px rgba(0, 0, 0, 0.75);

    .login-button {
        width: 100%;
        min-width: 100%;
    }
}