.single-sermon {
  margin-bottom: 1.5em;
  margin-top: 1em;

  h2 {
    color: primary-color('500');
  }

  .info-column {
    h2 {
      margin-top: 0px
    }

    .info-image {
      display: block;
      width: 200px;
      height: 200px;

      img {
        border-top-left-radius: $border-rounding-size;
        width: 200px;
        height: 200px;
      }
    }

    .info-box {
      border-top-right-radius: $border-rounding-size;
      box-sizing: border-box;
      overflow: hidden;
      display: block;
      min-height: 200px;
      padding: 20px;
      background-color: background-color('100');
      line-height: 2em;
    }

    @media (min-width: 576px) { 
        .info-image {
            float: left;
          }
    }

    @media (max-width: 576px) {
        .info-image {
            display: none;
        }
    }

    .all {
      display: block;

      span {
        display: inline-block;
      }
    }

    .download-links {
      display: block;

      a,
      a:visited {
        display: inline-block;
        margin-right: 0.7em;
      }
    }
  }

  .sermon-player {
    .change-player-type {
      margin-top: 5px;
    }
  }
}
