.sermon-search {
  background-color: $search-background;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;

  > * {
    margin-right: 0.5em;
  }
  .search-filter {
    flex: 3 1 100px;
    min-width: 400px;
    input {
      width: 100%;
    }
    i.fa {
      font-size: 18px;
      margin-top: 7px;
      color: #666666;
    }
  }

  .speaker-filter {
    flex: 2 1 100px;
  }

  .series-filter {
    flex: 2 1 100px;
  }
  
  .language-filter {
    flex: 1 1 auto;
    margin-right: 0;
    min-width: 50px;

    i.fa {
      font-size: 18px;
      color: #fff;
      margin-left: 1em;
      &:hover {
        color: #ebebeb;
      }
    }
    i.fa:hover {
      color: #ff9100;
    }
  }

  .language-flag {
    float: left;
    margin-left: 0.5em;
  }
  .language-flag:hover {
    border: 2px solid #fff;
  }
  .language-flag.active {
    border: 2px solid #fff;
  }

  .language-filter {
    padding-top: 7px;
  }

 

}

.vue-select {
  width: 100% !important;
}