.sermon-list-item {
    $sermonListHeight: 150px;
    background-color: background-color('100');
    margin-bottom: 0.5em;
    margin-top: 0.5em;

    box-shadow: $ring-offset-shadow, $ring-shadow, $list-shadow;
    border-radius: .5rem;
    border-color: rgba(229,231,235,1);
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    h2 {
        color: primary-color('500');
        margin-top: 0px
    }

    .image {
        flex: 1 1 150px;
        align-self: center;

        cursor: pointer;
        display: block;
        width: $sermonListHeight;
        height: $sermonListHeight;
        position: relative;

        img {
            width: $sermonListHeight;
            height: $sermonListHeight;
            display: block;
        }

        .playWrapper {
            opacity: 0;
            position: absolute; z-index: 1;
            top: 0;
            width: $sermonListHeight; 
            height: $sermonListHeight;
            background: rgba(0,0,0,0.6) url("../../images/play-button.png") no-repeat scroll center center / 50px 50px;
          }
    }

    .image:hover {
        .playWrapper {
            opacity: 1;
        }
    }
    .info-box {
        flex: 10 1 300px;
        border-top-right-radius: $border-rounding-size;
        box-sizing: border-box;
        overflow: hidden;
        display: block;
        min-height: $sermonListHeight;
        margin-top: 0.5em;
        //padding: 20px;
        line-height: 2em;
    }

    .all {
        display: block;
        span {
            //display: inline-block;
        }
    }

    .actions {
        display: block;
        .action {
            display: inline-block;
        }
    }
    .download-links {
        display: block;
  
        a,
        a:visited {
          display: inline-block;
          margin-right: 0.7em;
        }
      }
}