.sermon-table {
  td {
    vertical-align: middle !important;
  }
  .title {
    font-weight: 800;
  }
  .play {
    padding: 5px;
    div {
      border-radius: $border-rounding-size;
      background-color: $play-button-color;
      height: 30px;
      width: 30px;
      text-align: center;
      i {
        margin-top: 8px;
      }
      i:before {
        color: #fff;
      }
    }
    div:hover {
      background-color: $play-button-color-hover;
    }

  }


}

.podcast-notification {
  border: 2px solid $primary-color;
  margin-bottom: 10px;

  .text {
    margin-top: 1em;
  }
}