<?php
return [
    'datadog' => [
        'apiKey' => '{{datadog_api_key}}',
    ],
    'covers' => '{{sermons_api_covers_url}}',
    'channelLink' => '{{sermons_api_channel_link}}',
    'channelSubtitle' => '{{sermons_api_channel_subtitle}}',
    'channelDescription' => '{{sermons_api_channel_description}}',
    'channelName' => '{{sermons_api_channel_name}}',
    'channelEMail' => '{{sermons_api_channel_email}}',
    'defaultCover' => '{{sermons_api_default_cover}}',
    'copyright' => '{{sermons_api_copyright}}',
    'secret' => '{{sermons_api_secret}}',
    'users' => [
{% for user in sermons_backend_users %}
        ['username' => '{{user.username}}', 
        'passwordHash' => '{{user.password | password_hash('sha512', sermons_api_secret)}}'],
{% endfor %}
    ],
    'groups' => [
{% for cat_key, category in sermons_api_groups.items() %}
        '{{cat_key}}' => [
{% for lang_key, data  in category.items() %}
            '{{lang_key}}' => [
{% for key,value  in data.items() %}
                '{{key}}' => '{{value}}',
{% endfor %}
            ],
{% endfor %}
        ],
{% endfor %}
    ]
];
