@import "../defaultColors";
$colors-ecg-blue: (
        '50': #E8EAEB,
        '100': #C5CACE,
        '200': #9EA6AD,
        '300': #77828C,
        '400': #5A6874,
        '500': #3D4D5B,
        '600': #374653,
        '700': #2F3D49,
        '800': #273440,
        '900': #1A252F,
        'A100': #74B9FF,
        'A200': #41A0FF,
        'A400': #0E86FF,
        'A700': #007AF3
);
$colors-ecg-red: (
        '50': #F6E3E3,
        '100': #E9BABA,
        '200': #DB8C8C,
        '300': #CC5E5D,
        '400': #C13C3B,
        '500': #B61918,
        '600': #AF1615,
        '700': #A61211,
        '800': #9E0E0E,
        '900': #8E0808,
        'A100': #FFBCBC,
        'A200': #FF8989,
        'A400': #FF5656,
        'A700': #FF3C3C
);


$colorschemes : (
        "ecg-blue": $colors-ecg-blue,
        "ecg-red": $colors-ecg-red,
        "red": $colors-red,
        "grey": $colors-grey,
);

$primary-color-scheme: "ecg-blue";
$accent-color-scheme: "ecg-red";
$warn-color-scheme: "red";
$background-color-scheme: "grey";

@import "../theme";
