$border-rounding-size: 4px;

$play-button-color: accent-color('500');
$play-button-color-hover: accent-color('900');

$search-background: background-color('100');

$ring-offset-shadow: 0 0 transparent;
$ring-shadow: 0 0 transparent;
$list-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);