@function colorsheme($key) {
  @if not map-has-key($colorschemes, $key) {
    @warn "Key `#{$key}` not found in $colors map.";
  }
  @return map-get($colorschemes, $key);
}


@function primary-color($key) {
  $pr-colors: colorsheme($primary-color-scheme);
  @if not map-has-key($pr-colors, $key) {
    @warn "Key `#{$key}` not found in $primary-color-sheme map.";
  }
  @return map-get($pr-colors, $key);
}
@function accent-color($key) {
  $pr-colors: colorsheme($accent-color-scheme);
  @if not map-has-key($pr-colors, $key) {
    @warn "Key `#{$key}` not found in $accent-color-sheme map.";
  }
  @return map-get($pr-colors, $key);
}

@function warn-color($key) {
  $pr-colors: colorsheme($warn-color-scheme);
  @if not map-has-key($pr-colors, $key) {
    @warn "Key `#{$key}` not found in $warn-color-sheme map.";
  }
  @return map-get($pr-colors, $key);
}

@function background-color($key) {
  $pr-colors: colorsheme($background-color-scheme);
  @if not map-has-key($pr-colors, $key) {
    @warn "Key `#{$key}` not found in $background-color-sheme map.";
  }
  @return map-get($pr-colors, $key);
}

$primary-color: primary-color('500');
$accent-color: accent-color('500');
$warn-color: warn-color('500');
$background-color: background-color('500');
